body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
    width: 900px;
    max-width:90vw;;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart span{
    display: inline;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;

}
.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cartTab{
    width: 400px;
    background-color:#353432;
    color:#eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: transform .5s;

}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}


body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: darkred;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;

}

.cartTab .btn .close{
    background-color: #eee;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 50px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even) {
    background-color: transparent;
    color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}