.winner-headline-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.winner-headline-flex-container .left-hollow-triangle{
    margin: 0.6em 0.3em 0 0.7em;
}
.winner-headline-flex-container .right-hollow-triangle{
    margin: 0.6em 0.7em 0 0.3em;
}
.winner-headline-flex-container .right-line{
    margin: 1.03em 7em 0 0;
    flex: 1;
}
.winner-headline-flex-container .left-line{
    margin: 1.03em 0 0 7em;
    flex: 1;
}

.winner-submissions-flex-container, .submissions-flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

}
.winner-submissions-flex-container .button{
    height: 15em;
    width: 25em;
    margin: 1em;
}
.submissions-flex-container .button{
    height: 12em;
    width: 18.34em;
    margin: 0.5em;
    /*margin: 0 1em 0 1em;*/
}

.button .light, .button .drawing{
    align-self: center;
    /* % of the container of the element "img", which in this case is "div" */
    max-height: 97%;
    max-width: 97%;
}
/* IMAGE POSITION IN SUBMISSIONS */
.submissions-flex-container .button{
    justify-content: flex-start;
}

/* FILTER CLASSES */
.button.active {
    background: hsl(237, 35%, 16%);
    color: hsl(283, 100%, 100%);
    border-bottom: 2px solid gold;
    cursor: pointer;
}
.filtered-out{
    flex: none !important;
    display: none !important;
}







@media (max-width: 600px) {

    .winner-headline-flex-container .right-line {
        margin: 1.3em 0.5em 0 0;
    }

    .winner-headline-flex-container .left-line {
        margin: 1.3em 0 0 0.5em;
    }
}











