.submitted-image-for-details-container, .form-div-flex-container{
    display: flex;
    gap: 1em;
    justify-content: center;

}
.submitted-image-for-details-container div{
    border: 2px solid #481e57;
    aspect-ratio: 2 / 1;
    width: 40em;
    margin: 1em;
}
.form-div-flex-container textarea{
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #754287;
    border-left: 2px solid transparent;
    background: #14152A;
    text-align: center;
}
.auto-expand {
    width: 40em; /* Set your desired fixed width */
    height: auto;
    min-height: 50px; /* Set a minimum height to prevent it from collapsing completely */
    overflow-y: hidden;
}