.centering-container{
    display: flex;
    justify-content: center;
}

.submitted-image-for-details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    gap: 0.7em;

    border: 2px solid #481e57;
    aspect-ratio: 1.8 / 1;
    width: 40em;
    margin: 1em;
}

.form-div-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}
.submitted-image-for-details-container img{
    max-height: 95%;
    max-width: 95%;
    margin: 5px;
    align-self: center;
}
/* Hide the default checkbox */
input[type="checkbox"]{
    display: none;
}

/* Style the label as a like button */
.like-button, .copyLink-button {
    transition: border-color 0.5s ease, background-color 0.2s ease;
    display: inline-block;
    width: 30px; /* Adjust width and height as needed */
    height: 30px;
    background-color: #f0f0f0; /* Background color of the button */
    border-radius: 50%; /* Make it round */
    cursor: pointer;
    border: 1px solid #ccc; /* Border color */
}
input[type="checkbox"]:hover + .like-button,  input[type="checkbox"]:focus + .like-button{
    border-color: deeppink; /* Change border color on checked */
}
/* Change button appearance when checked */
input[type="checkbox"]:checked + .like-button {
    background-color: brown; /* Change background color on checked */
    border-color: deeppink; /* Change border color on checked */
    color: brown; /* Change text color on checked */
}
input[name="copyLink"]:checked + .copyLink-button{
    background-color: brown;
    border-color: deeppink;
    color: brown;
}
