

.list-container-year-groups{
    font-size: 1rem;
    padding: 0.3em;
    box-sizing: border-box;

}
.col0 .button{
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;

}
.year-group-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.list-container-year-groups{
    margin: 0.5em 10em 1em 10em;
}
@media (max-width: 600px){
    .list-container-year-groups {
        margin: 0.5em 1em 1em 1em;
    }
}