/* Checkout Button styles - similar to the Close button but in green */
.checkout {
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Display as a block with inline properties */
    background-color: #39b458;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: #eee;
    text-align: center;
    padding-top: 5px;
}



/* Navigation styles */
nav {
    display: flex;
    gap: 20px;
   /* background-color: darkslateblue;*/
    text-align: center;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: gold;
}

/* Footer styles */


/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 20px;
    box-sizing: border-box;
    background-color: #14152A; /* Assuming a similar dark background */
    color: #EAEBED; /* Light text for contrast */
}

footer {

    color: #eee; /* Light text color */
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative; /* Adjust positioning if necessary */
}


/* Container styles */
.container {
    width: 900px;
   max-width: 90vw;
    margin: auto;
    text-align: center;

}

/* SVG styles */
svg {
    width: 30px;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* padding: 20px 0;*/
    position: relative;
  /*  background-color: #282c41; /* Dark background for header */
    width: 100%; /* Ensures header spans the full width */
}

header .icon-cart span {
    display: inline;
    width: 30px;
    height: 30px;
    background-color: #e57dd0;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(50%, -50%);
}

.listProduct .item{
    background-color: #eeeee6;
    border-radius: 20px;
    padding: 20px;
}
/* Product List styles */
.listProduct .item img {
    width: 200px;
    filter: drop-shadow(0 50px 20px #0009);

}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
    padding: 20px
}

.listProduct .item h2 {
    color: #282727; /* Light text color */
    margin-bottom: 5px;
    text-align: center;
}

.listProduct .item .price {
    margin-bottom: 10px;
    color: #39b458; /* Green color for price */

}

body.showCart .container {
    transform: translateX(-250px);
}

.listProduct .item button {
    background-color: #754287; /* Purple background for buttons */
    color: #eee;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.listProduct .item button:hover {
    background-color: #634a7e; /* Darker purple on hover */
}

/* CartTab styles */
.cartTab {
    width: 400px;
    background-color: #282c41; /* Dark background for cart */
    color: #eee;
    position: fixed;
    inset: 0 -600px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: transform .5s;
    z-index: 1000;
    padding: 15px;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn .checkout {
    background-color:#754287; /* Purple background for buttons */
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #eee;

}

.cartTab .btn .close {
    background-color: #9c2fec;
    font-family: 'Poppins', sans-serif;
    color: #eee;
    cursor: pointer;
}

.cartTab .btn a:hover, .cartTab .btn button:hover {
    background-color: #634a7e; /* Darker purple on hover */
}

.cartTab .listCart .item img {
    width: 100%;
}

.cartTab .listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 50px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

/* Quantity styles */
.listCart .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
}

/* Alternating item styles */
.listCart .item:nth-child(even) {
    background-color: transparent;
    color: #eee;
}

/* Scrollbar styles */
.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}
