* {
    /* Css reset for more consistency across multiple platforms */
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: sans-serif;
}
body{
    background: #14152A;
    color: #EAEBED;
    font-size: 1rem;
}

header{
    /*Instead of declaring multiple display:flexes, you can declare it once here, then use align attributes to displace things vertically. */
}
h3{
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0.3em;

}
/* Container for underline elements */
.header-underline {
    /* Ordinary Flex - add apple support if necessary */
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.left-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 0 0 20%;
    flex: 5;
}
.circle {
    box-sizing: border-box;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: solid gold 0.13em;

}
.right-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 20% 0 0;
    flex: 5;
}
