* {
    /* Css reset for more consistency across multiple platforms */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: sans-serif;
}
body{
    background: #14152A;
    color: #EAEBED;
    font-size: 1rem;
}
/********* HEADER UNDERLINES *********/
header{
    display: flex;
    flex-direction: column;
    /*
    - Header is a container for h3 & .header-underline.
    - Column used to align them on top of one another.
    */
}
header h2, h3, h4{
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0.3em;
}
.header-underline {
    /* Container for the left/right line + circle elements. */
    display: flex;
    /* flex-direction: row; is default. */
    justify-content: center;
    gap: 0.5em;
}
.left-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 0 0 20%; /* change percentage to change how much screen-space the line takes up */
    flex: 1;
}
.circle {
    box-sizing: border-box;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: solid gold 0.13em;

}
.right-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 20% 0 0;
    flex: 1;
}
/***************************************/
/*********** LIGHT UP BUTTONS *************/
.button{
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color 0.3s ease;
    color: #EAEBED;
    padding: 0.5em;
    background: hsl(237, 35%, 15%);
    /*border: 2px solid #754287;*/
    border-radius: 0.28em;

    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #754287;
    border-left: 2px solid transparent;
}
/* Button hover style */
.button:hover, .button:focus{

    background: hsl(237, 35%, 16%);
    color: hsl(283, 100%, 100%);
    /*border: 2px solid #c42eff;*/
    border-radius: 0.28em;
    cursor: pointer;

    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #c42eff;
    border-left: 2px solid transparent;
}


.full-border:hover, .full-border:focus{
    border: 2px solid #c42eff;
}

/**********************************/
/*********** EXPANDING INPUTS *************/
.auto-expanding-input{
    transition: border-color 0.7s ease;

    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #754287;
    border-left: 2px solid transparent;
    background: #14152A;
    color: #EAEBED;

    height: 1.5em;
    width: 60%;
    min-height: 1.5em; /* Set minimum height to prevent textarea from collapsing completely */
    overflow-y: hidden;
    resize: none; /* resizing handled by js*/

}
.auto-expanding-input::placeholder{
    text-align: center;
    color: #919191;
}
.auto-expanding-input:focus, .auto-expanding-input:hover{
    outline: none;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #c42eff;
    border-left: 2px solid transparent;
    color: #EAEBED;
}
/**********************************/

/*
- Optimise content for screens of width 600px or less
- Put all Css you'd like to override for these screens here.
*/
@media (max-width: 600px) {
    header h2, h3, h4{
        padding: 0.2em;
    }
    .header-underline {
        gap: 0.3em; /* Fixed gap size */
    }
    .circle {
        width: 0.6em;
        height: 0.6em;
    }
    .right-line{
        flex: 1;
        margin: 0.35em 10% 0 0
    }
    .left-line{
        flex: 1;
        margin: 0.35em 0 0 10%;
    }
}
