/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #14152A; /* Dark background */
    color: #EAEBED; /* Light text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282c41; /* Darker background for container */
    border: 1px solid #754287; /* Border color from About Us CSS */
    border-radius: 8px;
}

h1, h2 {
    color: #EAEBED;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #EAEBED;
}

input[type="text"],
input[type="email"],
textarea {
<<<<<<< HEAD
    width: 96%;
=======
    width:96%;
>>>>>>> 3bf56d9d8940c9459a65ea6e3cb6dd28fffb1475
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #754287; /* Border color */
    background-color: #282c41; /* Input background color */
    color: #EAEBED; /* Input text color */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #754287; /* Button background color */
    color: #EAEBED; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #634a7e; /* Darker shade for hover state */
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

/* Placeholder Styles */
::placeholder {
    color: #888;
}




form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* General Styles */

