<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Year Groups</title>
    <link rel = "stylesheet" href="css/shared.css">
    <link rel = "stylesheet" href="css/years-list.css">
</head>
<body>

<header class="section-header">
    <!--
    Objective: Create fragment header underline element -----o-----.
    Separate by class - Header underline, Circle/Square/Triangle
    Make this a fragment that uses the shared.css stylesheet
    -->
    <h2> Participating Year Groups </h2>
    <div class="section-header-underline-circle">
        <div class="circle">

        </div>
        <div id = "left-line">

        </div>
        <div id = right-line>

        </div>
    </div>
</header>

<main>

</main>
</body>
</html>