<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For mobile phones / tablets -->
    <title>Group Submissions</title>
    <link rel = "stylesheet" th:href="@{/css/shared.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-style/group-submissions.css}">

<!--    <link rel="stylesheet" href="../../static/css/shared.css">-->
    <link rel="stylesheet" href="../../static/css/submissions-style/group-submissions.css">


</head>
<body>
<!-- Headers will share CSS files. -->
<header>
    <h2>[Dynamic Year & Year Group]</h2>
    <!-- Default fragment location in resources/templates/ so reference is written with that in mind.-->
    <div th:replace="fragments/shaped-header-underlines :: underline-circle"></div>
</header><br>

<main></main>

<header class="winner-headline-flex-container">
    <div class="left-line"></div>
    <img class="left-hollow-triangle" th:src="@{/css/submissions-style/images/hollow-triangle-left.png}" height="20" width="20" alt="left-hollow-triangle"/>
    <h2>Winning Submissions</h2>
    <img class="right-hollow-triangle" th:src="@{/css/submissions-style/images/hollow-triangle-right.png}" height="20" width="20" alt="right-hollow-triangle"/>
    <div class="right-line"></div>

</header><br>

<main></main>

<header>
    <h2>All Submissions</h2>
    <div th:replace="fragments/shaped-header-underlines :: underline-circle"></div>
</header><br>

<main></main>

</body>
</html>