<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For mobile phones / tablets -->
    <title>Group Submissions</title>
    <link rel = "stylesheet" th:href="@{/css/shared.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-style/group-submissions.css}">


</head>
<body>
<!-- Headers will share CSS files. -->
<header>
    <h2>[Dynamic Year & Year Group]</h2>
    <!-- Default fragment location in resources/templates/ so reference is written with that in mind.-->
    <div th:replace="fragments/shaped-header-underlines :: underline-circle"></div>
</header><br>

<main></main>

<header class="winner-headline-flex-container">
    <div class="left-line"></div>
    <img class="left-hollow-triangle" th:src="@{/css/submissions-style/images/hollow-triangle-left.png}" height="15" width="15" alt="left-hollow-triangle"/>
    <h3>Winning Submissions</h3>
    <img class="right-hollow-triangle" th:src="@{/css/submissions-style/images/hollow-triangle-right.png}" height="15" width="15" alt="right-hollow-triangle"/>
    <div class="right-line"></div>

</header><br>

<main>
    <article class="winner-submissions-flex-column-container">
        <div class="flex-row-container">
            <div></div>
            <div></div>
        </div>
        <div class="flex-row-container">
            <div></div>
            <div></div>
        </div>
        <div class="flex-row-container">
            <div></div>
            <div></div>
        </div>
        <div class="flex-row-container">
            <div></div>
            <div></div>
        </div>
    </article><br><br>
</main>

<header>
    <h3>All Submissions</h3>
    <div th:replace="fragments/shaped-header-underlines :: underline-circle"></div>
</header><br>

<main></main>

</body>
</html>