<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>List Of Year Groups</title>
    <!--
    - First two links are used for style debugging without needing to rerun the application (Open this template through intelliJ)
    - When you want to open the template through intelliJ whilst seeing fragments, just temporarily copy and paste their code into the relevant position.
    - Thymeleaf fragments will ignore the first two links - they only see th:href.
    -->
    <link rel = "stylesheet" href="../../static/css/shared.css">
    <link rel = "stylesheet" href="../../static/css/submissions-style/years-list.css">
    <!--
    - Specific overwrites some shared properties, so that comes afterwards.
    - Default directory for stylesheets & JS is resources/static/, so we start referencing with that in mind.
    -->
    <link rel = "stylesheet" th:href="@{/css/shared.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-style/years-list.css}">
</head>
<body>
<!-- Headers will share CSS files. -->
<header class="section-header">
    <!--
    Objective: Use the flexbox model then form this into a fragment.
    -->
    <h3>Participating Year Groups</h3>
    <!-- Default fragment location in resources/templates/ so reference is written with that in mind.-->
    <div th:replace="fragments/shaped-header-underlines :: underline-circle"></div>
    <!-- Edit fragment here for debugging (copy+paste from fragments html). Remember to remove this and update the fragment when done -->

</header>
<main>

</main>
</body>
</html>