<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Submission Details</title>

    <link rel = "stylesheet" th:href="@{/css/shared.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-page/group-submissions.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-page/submission-details.css}">

    <script th:src="@{/js/auto-expand-input.js}" async></script>
    <script th:src="@{/js/submissions-page/async-ratings.js}" async></script>
    <script th:src="@{/js/submissions-page/submission-details.js}"></script>

</head>
<body>
<header>
    <h2 th:inline="text">
        [[${drawing.getParticipantName()}]]'s Submission
    </h2>
    <!-- Default fragment location in resources/templates/ so reference is written with that in mind.-->
    <div th:replace="~{fragments/shaped-header-underlines :: underline-circle}"></div>
    <!-- Edit fragment here for debugging (copy+paste from fragments html). Remember to remove this and update the fragment when done -->
</header>
    <article class="centering-container">
    <div class="submitted-image-for-details-container">
        <!-- A light image is displayed only if it has been passed to the view by the controller with the key "light"-->
        <img th:if="${light}"  class="light" th:src="@{'/getImage/' +  ${light.getId()} + '/true'}" th:alt="${light.getFileName()}">
        <img class="drawing" th:src="@{'/getImage/' +  ${drawing.getId()} + '/false'}" th:alt="${drawing.getFileName()}">
    </div>
    </article>

    <div th:replace="~{fragments/shaped-header-underlines :: underline-circle}"></div>
    <br>
    <!-- Here be AJAX. I've removed the form's action and put it into a data-attribute so that it can be easily retrieved by JS. It also makes Thymeleaf usable.  -->
    <form class="form-div-flex-container"
          name="submitRating" id="submitRating" onsubmit="return sendRating()"
          th:data-action="'/home/submissions/' + ${drawing.getId()} + '/addReview'">

        <div class="inner-form-row-container like_share_count">
            <!-- When the state of this button is changed starting from "checked", we send a likeUpdate to the database with value -1, +1 otherwise. -->
            <!-- This simulates an actual like button which you wouldn't need a form to submit. See JS implementation of this function for more details. -->
            <input type="checkbox" name="liked" id="liked" onchange="this.checked ? sendLikeUpdate(1) : sendLikeUpdate(-1)" th:data-sendLikeEndpoint_withoutIncrement="'/home/submissions/' + ${drawing.getId()} + '/updateLikeCount/'">

            <label class="like-button clickableDiv" for="liked" tabindex="0" ><span class="like-image-container"></span></label>

            <!-- This div is changed in two instances. 1) On page first time page load / refresh (thymeleaf inline), 2) When the like button is pressed (data endpoint) -->
            <div id="likeCount" th:inline="text" th:data-likesEndpoint="'/home/submissions/' + ${drawing.getId()} + '/getLikes'"> [[${likeCount}]] </div>

            <div class="copyLink-button"><div tabindex="0" class="clickableDiv" id="linkToCopy" th:attr="data-value='/home/submissions/' + ${drawing.getId()}">Copy Link</div></div>

        </div>

        <div class="inner-form-row-container" id="input">
            <label class="form-label" for="raterName"></label>
            <textarea class="auto-expanding-input name-input" id="raterName" name="raterName" placeholder="Name"></textarea>

            <label class="form-label" for="commentText"></label>
            <textarea class="auto-expanding-input comment-input" id="commentText" name="commentText" placeholder="Comment"></textarea>
        </div>

        <button class="button" type="submit">Post Review</button>

    </form><br>
    <!-- The comments are not passed to this page on refresh/ load. Instead, -->
    <ul class="comment-section" th:data-commentsEndpoint="'/home/submissions/' + ${drawing.getId()} + '/getComments'">
        <li th:each="rating : ${ratingList}" class="user-comment">
            <p th:text="${rating.getRaterName()}" class="user-name"></p>
            <p th:text="${rating.getCommentText()}" class="user-comment-text"></p>
            <div class = "divider-line"></div>
        </li>
    </ul>

</body>
</html>