<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Submission Details</title>

    <link rel = "stylesheet" th:href="@{/css/shared.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-page/group-submissions.css}">
    <link rel = "stylesheet" th:href="@{/css/submissions-page/submission-details.css}">
    <script th:src="@{/js/auto-expand-input.js}" async></script>

</head>
<body>
<header>
    <h2 th:inline="text">
        [[${drawing.getParticipantName()}]]'s Submission
    </h2>
    <!-- Default fragment location in resources/templates/ so reference is written with that in mind.-->
    <div th:replace="~{fragments/shaped-header-underlines :: underline-circle}"></div>
    <!-- Edit fragment here for debugging (copy+paste from fragments html). Remember to remove this and update the fragment when done -->
</header>
<!--    "@{'/menu/' + ${menuItem.id} + '/addReview'}"   -->
    <article class="centering-container">
    <div class="submitted-image-for-details-container">
        <!-- A light image is displayed only if it has been passed to the view by the controller with the key "light"-->
        <img th:if="${light}"  class="light" th:src="@{'/getImage/' +  ${light.getId()} + '/true'}" th:alt="${light.getFileName()}">
        <img class="drawing" th:src="@{'/getImage/' +  ${drawing.getId()} + '/false'}" th:alt="${drawing.getFileName()}">
    </div>
    </article>

    <div th:replace="~{fragments/shaped-header-underlines :: underline-circle}"></div>
    <br>
    <form class="form-div-flex-container" th:action = "@{URl/here}" method = "post">

        <label class="form-label" for="comment"></label>
        <textarea class="auto-expanding-input" id="comment" name="comment" placeholder="Write a comment about this submission"></textarea>

        <button class="button">Post Comment</button>

    </form><br>

</body>
</html>