<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/marketplace-productlist/style.css}">
    <link rel="stylesheet" th:href="@{/css/checkout-page/checkout.css}">
    <!-- Update with your CSS file path -->
</head>
<body>
<div class="container">
    <h1>Checkout</h1>
    <form th:action="@{'/home/marketplace/checkout/' + '200'}" method="post">
        <h2>Customer Details</h2>
        <label for="customerName">Full Name:</label>
        <input type="text" id="customerName" name="customerName" placeholder="Enter your full name" required>

        <label for="customerEmail">Email:</label>
        <input type="email" id="customerEmail" name="customerEmail" placeholder="Enter your email address" required>

        <h2>Delivery Address</h2>
        <label for="deliveryAddress">Address Line 1:</label>
        <input type="text" id="deliveryAddress" name="deliveryAddress" placeholder="First line of your address" required>

        <!--        <label for="address-line2">Address Line 2 (optional):</label>-->
        <!--        <input type="text" id="address-line2" name="address_line2" placeholder="Second line of your address (optional)">-->

        <!--        <label for="postcode">Postcode:</label>-->
        <!--        <input type="text" id="postcode" name="postcode" placeholder="Enter your postcode" required>-->

        <!--        <label for="note">Special Notes:</label>-->
        <!--        <textarea id="note" name="note" placeholder="Add The Design choice for the t-shirt or any other notes as required"></textarea>-->


        <div id="order-summary">
            <!-- Dynamically populate order summary -->
        </div>

        <button type="submit">Place Order</button>


    </form>
</div>
<!--<script src="static/js/checkout-page/checkout.js"></script> -->
<script th:src="@{/js/checkout-page/checkout.js}"></script>
</body>
</html>
