* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EC4D1D;
    color: white;
    padding: 0px;
}

#logo1 {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    padding-left: 0%;
    padding-right: 0%;
    padding: 0px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #000000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

#contact-form {
    width: 75%;
    max-width: 800px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 25px;
}

#contact-form h1 {
    text-align: center;
    color: white;
}

#contact-form p {
    text-align: center;
    color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-group label {
    font-weight: bold;
    color: #EC4D1D;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #EC4D1D;
}

#submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #EC4D1D;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #000000;
}

#contact-details {
    width: 25%;
    max-width: none;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

#contact-details h2 {
    text-align: center;
    color: white;
}

#contact-details p {
    text-align: center;
    color: white;
}

.detail {
    display: flex;
    flex-direction: column; /* Change this to column */
    align-items: center; /* Change this to center */
    margin: 10px;
    justify-content: center;
}

.icon {
    width: 200px;
    height: auto;
    margin-bottom: 10px; /* Add this line to create space between the image and the text */
}


/*footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EC4D1D;
    color: white;
    padding: 10px;
}*/

#social-media {
    display: flex;
}

#social-media a {
    display: block;
    margin: 0 5px;
}

#social-media a img {
    width: 30px;
    height: auto;
}

#copyright {
    display: flex;
    align-items: center;
}

#copyright p {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px;
    }

    main {
        flex-direction: column;
    }

    #contact-form,
    #contact-details {
        width: 100%;
        max-width: none;
    }
}


    * {
        /* Css reset for more consistency across multiple platforms */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-weight: normal;
        font-family: sans-serif;
    }
body{
    background: #14152A;
    color: #EAEBED;
    font-size: 1rem;
}
/*** HEADER UNDERLINES ***/
header{
    display: flex;
    flex-direction: column;
    /*
    - Header is a container for h3 & .header-underline.
    - Column used to align them on top of one another.
    */
}
header h2, h3, h4{
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0.3em;
}
.header-underline {
    /* Container for the left/right line + circle elements. */
    display: flex;
    /* flex-direction: row; is default. */
    justify-content: center;
    gap: 0.5em;
}
.left-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 0 0 20%; /* change percentage to change how much screen-space the line takes up */
    flex: 1;
}
.circle {
    box-sizing: border-box;
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    border: solid gold 0.13em;

}
.right-line {
    border: 0.05em solid #754287;
    height: 0;
    margin: 0.35em 20% 0 0;
    flex: 1;
}
/***************************************/


/*
- Optimise content for screens of width 600px or less
- Put all Css you'd like to override for these screens here.
*/
@media (max-width: 450px) {
    body{
        font-size: 1.2rem;
    }
    header h2, h3, h4{
        padding: 0.2em;
    }
    .header-underline{
        gap: 0.3em; /* Fixed gap size */
    }
    .circle {
        width: 0.6em;
        height: 0.6em;
    }
    .right-line{
        flex: 1;
        margin: 0.35em 10% 0 0
    }
    .left-line{
        flex: 1;
        margin: 0.35em 0 0 10%;
    }
}



/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* ALL CSS STYLING MADE & ADAPTED TO HAVE PARITY WITH REST OF THE SITE*/

/*START OF CSS STYLING FOR MAIN ANIMATION PAGE, AND TEXT FOR NAV LINKS*/
body {
    margin: 0;
    background: linear-gradient(darkslateblue, black);
    font-family: "Euclid Circular A", "Poppins";
    color: white;
}

html,
body {
    height: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials {
    gap: 20px;
}

.socials a {
    font-size: 24px;
}

.links {
    gap: 10px;
}

.legal {
    font-size: 12px;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 12px;
    display: flex;
    width: 100%;
    height: 370px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
}

@media (width > 420px) {
    section {
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }

    .links {
        gap: 20px;
    }
}

/*START OF CSS FOR ADDING HOVER ANIMATION FOR TEXT*/

.links a {
    color: white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.links a:hover {
    color: lawngreen;
    text-decoration: underline;
}

/* ADDITIONAL CSS FOR SOCIAL MEDIA ICONS */
.socials a {
    color: white;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: lawngreen; /* Change this color for the social media icons */
    /* Define any specific hover styles for social icons here */
}




/* ALL CSS STYLING MADE & ADAPTED TO HAVE PARITY WITH REST OF THE SITE*/

/*START OF CSS STYLING FOR MAIN ANIMATION PAGE, AND TEXT FOR NAV LINKS
body {
    margin: 0;
    background: linear-gradient(darkslateblue, black);
    font-family: "Euclid Circular A", "Poppins";
    color: white;
}

html,
body {
    height: 100%;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials {
    gap: 20px;
}

.socials a {
    font-size: 24px;
}

.links {
    gap: 10px;
}

.legal {
    font-size: 12px;
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(3) scaleX(2.25);
    transform-origin: bottom;
    box-sizing: border-box;
    display: block;
    pointer-events: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 12px;
    display: flex;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
}

@media (width > 420px) {
    section {
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }

    .links {
        gap: 20px;
    }
}

/*START OF CSS FOR ADDING HOVER ANIMATION FOR TEXT*/

.links a {
    color: white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.links a:hover {
    color: lawngreen;
    text-decoration: underline;
}

/* ADDITIONAL CSS FOR SOCIAL MEDIA ICONS */
.socials a {
    color: white;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: lawngreen; /* Change this color for the social media icons */
    /* Define any specific hover styles for social icons here */
}